node_modules
src
.github
.husky
.npmignore
.gitignore

# Local files
biome.json
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
tsconfig.json
tsconfig.buildinfo

# Turbo
.turbo

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem